.main-content {
    margin-bottom:40px;
}
.page-header {
    padding: 30px 0px 40px 0px;
    margin: 0 -15px 0px -15px;
    border:none;
}
.btn {
    padding:30px;
}
.press {
    background:#fff;
}
.btn-yellow-press {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-green-press {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-red-press {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-blue-press {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}